html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-color: grey;
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}
#centered{
  width: 90%;
  margin: auto 5% auto 5%;
}
