html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-color: grey;
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}
#myCanvas{
  width: 100%;
  margin: auto auto;
  background-color: white;
}
